@import url('https://fonts.googleapis.com/css?family=Titillium+Web&display=swap');
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  height: 100vh;
  background: linear-gradient(rgb(127, 127, 206), rgb(138, 207, 216));
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  color: white;
  text-shadow: 1px 2px 1px black;
  font-family: 'Titillium Web', sans-serif;
}
#weatherContainer {
  background-color: rgba(0, 0, 0, 0.4);
  box-shadow: 2px 10px 20px 0 rgb(48, 48, 48), 1px 3px 5px 0 rgb(12, 12, 12);
  padding: 20px;
  border-radius: 10px;
  position: absolute;
  visibility: hidden;
}
#weatherContainer h1 {
  margin: 5px;
  font-size: 35px;
}
#searchContainer {
  padding: 15px;
  position: absolute;
  top: 0;
  right: 0;
}
#searchContainer input {
  width: 200px;
}
#searchContainer button {
  background-color: rgb(1, 159, 198);
  color: #fff;
  width: 75px;
  cursor: pointer;
}
.searchControl {
  box-shadow: 1px 2px 5px rgb(51, 51, 51);
  border: none;
  outline: none;
  border-radius: 5px;
  padding: 7px;
  font-family: 'Titillium Web', sans-serif;
}
#weatherMain {
  display: block;
  margin-bottom: 20px;
}
#weatherMain div {
  display: inline-block;
}
#weatherDescriptionHeader {
  font-size: 22px;
  vertical-align: 50%;
}
#temperature {
  font-size: 28px;
  vertical-align: 25%;
}
.bottom-details {
  display: block;
  font-size: 18px;
  text-align: right;
}
hr {
  margin-bottom: 16px;
}

@media (min-width: 600px) {
  #weatherContainer {
    padding: 40px;
  }
  #weatherContainer h1 {
    font-size: 42px;
  }
  #weatherDescriptionHeader {
    font-size: 25px;
  }
  #temperature {
    font-size: 32px;
  }
  .bottom-details {
    font-size: 22px;
  }
}
